In [1]:
import pandas as pd
import numpy as np

from pandas import Series as s, DataFrame as df
from sklearn.model_selection import train_test_split
from sklearn import datasets, linear_model, metrics

In [4]:
data = pd.read_csv('barsha_data-5.csv')

In [13]:
data.head(230)

       entity         timestamp  binLevel
0    1_100003   10/21/2018 2:54      1.20
1    1_100003   10/21/2018 3:24      5.47
2    1_100003   10/21/2018 3:54     11.71
3    1_100003   10/21/2018 4:24     25.87
4    1_100003   10/21/2018 4:54     36.69
5    1_100003   10/21/2018 5:24     39.45
6    1_100003   10/21/2018 5:54     58.71
7    1_100003   10/21/2018 6:24     74.33
8    1_100003   10/21/2018 6:54      1.20
9    1_100003   10/21/2018 7:24      1.58
10   1_100003   10/21/2018 7:54      1.94
11   1_100003   10/21/2018 8:24     12.78
12   1_100003   10/21/2018 8:54     17.87
13   1_100003   10/21/2018 9:24     28.21
14   1_100003   10/21/2018 9:54     33.50
15   1_100003  10/21/2018 10:24     50.47
16   1_100003  10/21/2018 10:54     58.00
17   1_100003  10/21/2018 11:24     65.26
18   1_100003  10/21/2018 11:54     70.17
19   1_100003  10/21/2018 12:24      1.20
20   1_100003  10/21/2018 12:54      2.94
21   1_100003  10/21/2018 13:24     17.06
22   1_100003  10/21/2018 13:54     23.06
23   1_100003  10/21/2018 14:24     24.53
24   1_100003  10/21/2018 14:54     34.31
25   1_100003  10/21/2018 15:24     49.88
26   1_100003  10/21/2018 15:54     62.01
27   1_100003  10/21/2018 16:24     63.89
28   1_100003  10/21/2018 16:54     68.51
29   1_100003  10/21/2018 17:24      1.20
..        ...               ...       ...
200  1_100003   10/25/2018 6:54     45.21
201  1_100003   10/25/2018 7:24     46.40
202  1_100003   10/25/2018 7:54     50.95
203  1_100003   10/25/2018 8:24     57.07
204  1_100003   10/25/2018 8:54     70.83
205  1_100003   10/25/2018 9:24      1.20
206  1_100003   10/25/2018 9:54     13.56
207  1_100003  10/25/2018 10:24     26.36
208  1_100003  10/25/2018 10:54     38.90
209  1_100003  10/25/2018 11:24     55.08
210  1_100003  10/25/2018 11:54     65.52
211  1_100003  10/25/2018 12:24      1.20
212  1_100003  10/25/2018 12:54      2.09
213  1_100003  10/25/2018 13:24      9.58
214  1_100003  10/25/2018 13:54     20.63
215  1_100003  10/25/2018 14:24     35.09
216  1_100003  10/25/2018 14:54     43.84
217  1_100003  10/25/2018 15:24     51.71
218  1_100003  10/25/2018 15:54     68.19
219  1_100003  10/25/2018 16:24     80.76
220  1_100003  10/25/2018 16:54      1.20
221  1_100003  10/25/2018 17:24     10.09
222  1_100003  10/25/2018 17:54     19.98
223  1_100003  10/25/2018 18:24     35.62
224  1_100003  10/25/2018 18:54     44.76
225  1_100003  10/25/2018 19:24     64.64
226  1_100003  10/25/2018 19:54     71.40
227  1_100003  10/25/2018 20:24      1.20
228  1_100003  10/25/2018 20:54     13.67
229  1_100003  10/25/2018 21:24     33.66

[230 rows x 3 columns]

In [7]:
data.isnull().sum()

entity       0
timestamp    0
binLevel     0
dtype: int64

In [8]:
data.shape

(235, 3)

In [10]:
data.describe()

         binLevel
count  235.000000
mean    39.342851
std     26.140435
min      1.200000
25%     17.610000
50%     38.660000
75%     63.155000
max     84.740000

In [11]:
# feature engineering
x = cars.loc[:,["hp","wt","mpg"]]
y = cars.am

In [12]:
x_train, x_test , y_train , y_test = train_test_split(x ,y , test_size = 0.3 , random_state = 10 )

In [13]:
model = linear_model.LogisticRegression()

In [14]:
model.fit(x_train,y_train)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='ovr', n_jobs=1,
          penalty='l2', random_state=None, solver='liblinear', tol=0.0001,
          verbose=0, warm_start=False)

In [16]:
predict_x = model.predict(x_test)
predict_x

array([1, 0, 0, 1, 0, 0, 0, 1, 0, 1])

In [22]:
from sklearn.metrics import accuracy_score , confusion_matrix

In [19]:
accuracy_score(y_test , predict_x)

0.9

In [23]:
confusion_matrix(y_test , predict_x)

array([[6, 1],
       [0, 3]])