In [1]:
import pandas as pd

In [3]:
data = pd.read_csv("payment-fraud-inference.csv")
data1 = pd.read_csv("payment-fraud-train.csv")

In [4]:
print(data.shape)
print(data1.shape)

(50000, 17)
(100000, 18)

In [6]:
print(data.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50000 entries, 0 to 49999
Data columns (total 17 columns):
id                       50000 non-null int64
device                   50000 non-null object
os                       50000 non-null object
channel                  50000 non-null object
vertical                 50000 non-null object
cust_past_txn_hour_01    50000 non-null int64
dom_travel               50000 non-null int64
intl_travel              50000 non-null int64
ip_match                 50000 non-null object
latency_time             50000 non-null float64
avg_amt_vertical         50000 non-null int64
max_amt_vertical         50000 non-null int64
email_domain             50000 non-null object
avg_amt_6m               50000 non-null float64
avg_amt_1m               50000 non-null float64
ip3_fraud_rate           50000 non-null float64
amount                   50000 non-null float64
dtypes: float64(5), int64(6), object(6)
memory usage: 6.5+ MB
None

In [8]:
print(data1.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 18 columns):
id                       100000 non-null int64
device                   100000 non-null object
os                       100000 non-null object
channel                  100000 non-null object
vertical                 100000 non-null object
cust_past_txn_hour_01    100000 non-null int64
dom_travel               100000 non-null int64
intl_travel              100000 non-null int64
ip_match                 100000 non-null object
latency_time             100000 non-null float64
avg_amt_vertical         100000 non-null int64
max_amt_vertical         100000 non-null int64
email_domain             100000 non-null object
avg_amt_6m               100000 non-null float64
avg_amt_1m               100000 non-null float64
ip3_fraud_rate           100000 non-null float64
amount                   100000 non-null float64
fraud                    100000 non-null int64
dtypes: float64(5), int64(7), object(6)
memory usage: 13.7+ MB
None

In [9]:
data.head(5)

,id,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount
0,1,pc,mac-os,pc-browser,auto-car,1,0,0,same-city,8.192592,800,10000,com,5932.212448,5183.262111,0.050,1549.572084
1,2,pc,windows-vista,pc-browser,food-grocery,0,3,0,diff-country,70.086750,300,4000,com,5516.563929,10317.137310,0.000,649.181672
2,3,pc,windows-XP,pc-browser,electronics,1,14,1,same-district,52.891376,6000,70000,com,5932.212448,5377.433404,0.025,15022.698540
3,4,pc,linux-recent,pc-browser,food-grocery,1,5,0,same-country,38.677249,300,4000,com,5932.212448,3437.575969,0.000,311.284693
4,5,mobile,android,app-based,fashion-clothing,1,0,0,same-city,21.799680,800,6000,com,5932.212448,3343.991724,0.000,2496.066640

In [10]:
data1.head(5)

,id,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount,fraud
0,1,pc,ms-dos,pc-browser,food-grocery,0,0,0,same-city,17.178203,300,4000,com,1822.552062,3496.805665,0.05,132.193108,0
1,2,mobile,android,app-based,fashion-clothing,1,1,0,same-state,83.642966,800,6000,com,1659.337804,3617.543556,0.00,2591.748978,0
2,3,mobile,windows,app-based,electronics,1,1,0,same-state,203.956220,6000,70000,company,5932.212448,15160.800920,0.00,68317.266830,1
3,4,mobile,android,app-based,auto-car,1,0,0,same-city,63.867450,800,10000,com,2579.716312,2305.998977,0.10,1428.226980,0
4,5,pc,windows-10,pc-browser,food-grocery,1,1,0,same-country,4.107090,300,4000,com,2474.546403,5091.805119,0.00,370.566127,0

In [16]:
data1.drop(columns="id" , inplace=True)

In [34]:
data1.head(2)

,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount,fraud
0,pc,ms-dos,pc-browser,food-grocery,0,0,0,same-city,17.178203,300,4000,com,1822.552062,3496.805665,0.05,132.193108,0
1,mobile,android,app-based,fashion-clothing,1,1,0,same-state,83.642966,800,6000,com,1659.337804,3617.543556,0.00,2591.748978,0

In [35]:
data1.to_csv("deleted_id_payment_fraud_detection.csv",index=False)

In [36]:
df = pd.read_csv("deleted_id_payment_fraud_detection.csv")

In [37]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
device                   100000 non-null object
os                       100000 non-null object
channel                  100000 non-null object
vertical                 100000 non-null object
cust_past_txn_hour_01    100000 non-null int64
dom_travel               100000 non-null int64
intl_travel              100000 non-null int64
ip_match                 100000 non-null object
latency_time             100000 non-null float64
avg_amt_vertical         100000 non-null int64
max_amt_vertical         100000 non-null int64
email_domain             100000 non-null object
avg_amt_6m               100000 non-null float64
avg_amt_1m               100000 non-null float64
ip3_fraud_rate           100000 non-null float64
amount                   100000 non-null float64
fraud                    100000 non-null int64
dtypes: float64(5), int64(6), object(6)
memory usage: 13.0+ MB

In [38]:
from collections import Counter

In [39]:
Counter(df["fraud"])

Counter({0: 74302, 1: 25698})

In [40]:
df.isnull().sum()

device                   0
os                       0
channel                  0
vertical                 0
cust_past_txn_hour_01    0
dom_travel               0
intl_travel              0
ip_match                 0
latency_time             0
avg_amt_vertical         0
max_amt_vertical         0
email_domain             0
avg_amt_6m               0
avg_amt_1m               0
ip3_fraud_rate           0
amount                   0
fraud                    0
dtype: int64

In [41]:
df.index

RangeIndex(start=0, stop=100000, step=1)

In [42]:
df.shape

(100000, 17)

In [43]:
from sklearn.preprocessing import LabelEncoder 
le = LabelEncoder()
# there are many way to do it 
#method : 1) labelEncodingCategoryToIntergerViceVersaForObject1stMethod (Note : 1st method is use for both conver & inverse)
#This is use for vice-versa
def labelEncodingCategoryToIntergerViceVersaForObject1stMethod(dataset):
    '''
    @author Rakesh
    @see The function label encodes the object type columns and gives label      encoded and inverse tranform of the label encoded data
    @param dataset dataframe on whoes column the label encoding has to be done
    @return label encoded and inverse tranform of the label encoded data.
   ''' 
    data_original = dataset[:]
    data_tranformed = dataset[:]
    for y in dataset.columns:
       #check the dtype of the column object type contains strings or chars
        if (dataset[y].dtype == object):
            print("The string type features are  : " + y)
            le.fit(dataset[y].unique())
            #label encoded data
            data_tranformed[y] = le.transform(dataset[y])
            #inverse label transform  data
            data_original[y] = le.inverse_transform(data_tranformed[y])
    return data_tranformed,data_original


#method : 2) labelEncodingCategoryToIntergerViceVersaForObject2ndMethod
def labelEncodingCategoryToIntergerViceVersaForObject2ndMethod(dataset):
    data_original = dataset[:]
    data_tranformed = dataset[:]
    
    # Categorical string mask
    categorical_feature_mask = data_tranformed.dtypes==object
    
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist()
   
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
    
    return data_tranformed,data_original
    

    
#Lable Encoding for bool(Convert bool to interger)    
def convertBoolToIntegerEncoding(dataset):
    #original data
    data_original = dataset[:]
    data_tranformed = dataset[:]
    
    # Categorical boolean mask
    categorical_feature_mask = data_tranformed.dtypes==bool
    
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist()
    
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
    
    return data_tranformed,data_original




#Lable Encoding for bool(Convert String and Boolean together to interger) 
#Convert All DataTypes(Object(String), Boolean) to Integer 
def convertAllDataTypeslToIntegerLabelEncoding(dataset):
    #original data
    data_original = dataset[:]
    data_tranformed = dataset[:]
    
    
    # Categorical string mask
    categorical_feature_mask = data_tranformed.dtypes==object 
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist() 
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
  

    # Categorical boolean mask
    categorical_feature_mask = data_tranformed.dtypes==bool 
    # filter categorical columns using mask and turn it into a list
    categorical_cols = data_tranformed.columns[categorical_feature_mask].tolist() 
    # apply le on categorical feature columns
    data_tranformed[categorical_cols] = data_tranformed[categorical_cols].apply(lambda col: le.fit_transform(col))
    
    return data_tranformed,data_original

In [44]:
data_transformed , data_original = labelEncodingCategoryToIntergerViceVersaForObject1stMethod(df)

The string type features are  : device
The string type features are  : os
The string type features are  : channel

/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

The string type features are  : vertical
The string type features are  : ip_match
The string type features are  : email_domain

/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:
/Users/rakeshkumar/miniconda3/lib/python3.6/site-packages/sklearn/preprocessing/label.py:151: DeprecationWarning: The truth value of an empty array is ambiguous. Returning False, but in future this will result in an error. Use `array.size > 0` to check that an array is not empty.
  if diff:

In [45]:
data_transformed.head(3)

,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount,fraud
0,1,7,1,5,0,0,0,1,17.178203,300,4000,0,1822.552062,3496.805665,0.05,132.193108,0
1,0,0,0,4,1,1,0,4,83.642966,800,6000,0,1659.337804,3617.543556,0.00,2591.748978,0
2,0,8,0,2,1,1,0,4,203.956220,6000,70000,1,5932.212448,15160.800920,0.00,68317.266830,1

In [46]:
data_original.head(3)

,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount,fraud
0,pc,ms-dos,pc-browser,food-grocery,0,0,0,same-city,17.178203,300,4000,com,1822.552062,3496.805665,0.05,132.193108,0
1,mobile,android,app-based,fashion-clothing,1,1,0,same-state,83.642966,800,6000,com,1659.337804,3617.543556,0.00,2591.748978,0
2,mobile,windows,app-based,electronics,1,1,0,same-state,203.956220,6000,70000,company,5932.212448,15160.800920,0.00,68317.266830,1

In [48]:
data_transformed.to_csv("final_payment_fraud_detection.csv",index=False)

In [49]:
d = pd.read_csv("final_payment_fraud_detection.csv")

In [50]:
d.head(2)

,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount,fraud
0,1,7,1,5,0,0,0,1,17.178203,300,4000,0,1822.552062,3496.805665,0.05,132.193108,0
1,0,0,0,4,1,1,0,4,83.642966,800,6000,0,1659.337804,3617.543556,0.00,2591.748978,0

In [51]:
d.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 100000 entries, 0 to 99999
Data columns (total 17 columns):
device                   100000 non-null int64
os                       100000 non-null int64
channel                  100000 non-null int64
vertical                 100000 non-null int64
cust_past_txn_hour_01    100000 non-null int64
dom_travel               100000 non-null int64
intl_travel              100000 non-null int64
ip_match                 100000 non-null int64
latency_time             100000 non-null float64
avg_amt_vertical         100000 non-null int64
max_amt_vertical         100000 non-null int64
email_domain             100000 non-null int64
avg_amt_6m               100000 non-null float64
avg_amt_1m               100000 non-null float64
ip3_fraud_rate           100000 non-null float64
amount                   100000 non-null float64
fraud                    100000 non-null int64
dtypes: float64(5), int64(12)
memory usage: 13.0 MB

In [52]:
d.iloc[0:3,0:16]

,device,os,channel,vertical,cust_past_txn_hour_01,dom_travel,intl_travel,ip_match,latency_time,avg_amt_vertical,max_amt_vertical,email_domain,avg_amt_6m,avg_amt_1m,ip3_fraud_rate,amount
0,1,7,1,5,0,0,0,1,17.178203,300,4000,0,1822.552062,3496.805665,0.05,132.193108
1,0,0,0,4,1,1,0,4,83.642966,800,6000,0,1659.337804,3617.543556,0.00,2591.748978
2,0,8,0,2,1,1,0,4,203.956220,6000,70000,1,5932.212448,15160.800920,0.00,68317.266830

In [53]:
d.iloc[0:3,16:17]

   fraud
0      0
1      0
2      1